
    <nav class="navbar navbar-expand-sm navbar-dark rico-nav ">
        <div class="container-fluid">

            <a class="navbar-brand " href="#">

                <p>Profesores en línea</p>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse justify-content-end rico-elementos" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active text-white" aria-current="page" href="#">Inicio</a>
                        <a class="nav-link text-white" href="#recetas">Pruebas</a>
                        <a class="nav-link text-white" href="#nosotros">Planificaciones</a>
                        <a class="nav-link disabled text-white" href="#contacto">Contacto</a>
                    </div>
                </div>



        </div>
    </nav>


  


    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 columna">

                <h1 class="pizza-receta-titulo">Iniciar sesión</h1>

                <form>

                    <div class="col-12 col-md-12">
                        <label for="staticEmail" class="col-12 col-md-12 col-form-label">Email</label>
                        
                            <input class="form-control m-auto" type="text" id="email">
                        
                    </div>

                    <div class="col-12 col-md-12">
                        <label class="col-12 col-md-12 col-form-label">Contraseña</label>
                        
                            <input class="form-control m-auto" type="password" id="password">
                        
                    </div>

                    <div class="col-12">
                        <button id="enviarPorCorreo"
                            class="btn btn-light btn btn-outline-secondary enviar-por-correo boton"
                            onclick="verificacion()">Log in</button>
                    </div>

                </form>

                





            </div>

        </div>

    </div>

    <div class="container ">
        <div class="row">
            <div class="col-12 ">

            </div>
        </div>
        <hr class="linea-dos">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 ingredientes-pizza">

                </div>


                <div class="col-12 col-sm-6 ingredientes-pizza ">

                </div>

            </div>
        </div>










       







        <div class="container">
            <div class="row">



            </div>
        </div>
        <footer class="bg-light text-center text-lg-start">

            <div class="container p-4 newsletter">

                <div class="row">

                    <div class="col-12">
                        <h5 class="text-uppercase suscribete" id="contacto">Profesores en línea</h5>

                        <p class="obten-recetas">
                            para planificaciones y pruebas</p>

                    </div>



                </div>

            </div>

            <div class="text-center p-3 footer-oscuro">


            </div>

        </footer>




     
<script>
    const verificacion = async () => {
      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;
      const payload = { email, password }
      
      try{
        const { data: token } = await axios.post('/verify', payload)
        alert(`autenticado y autorizado`)
        console.log(token)
        window.location.href = (`/datos?token=${token}`)
      }
      catch({response}) {
        const {data} = response
        const {error} = data
        alert(error)
      }
    }
    
    //document.getElementById("enviarPorCorreo").onclick = function () {
   //     location.href = "/ingresar";
    //};

  </script>

