
    <nav class="navbar navbar-expand-sm navbar-dark rico-nav ">
        <div class="container-fluid">

            <a class="navbar-brand " href="#">

                <p>Profesores en línea</p>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse justify-content-end rico-elementos" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active text-white" aria-current="page" href="#">Inicio</a>
                        <a class="nav-link text-white" href="#recetas">Pruebas</a>
                        <a class="nav-link text-white" href="#nosotros">Planificaciones</a>
                        <a class="nav-link disabled text-white" href="#contacto">Contacto</a>
                    </div>
                </div>



        </div>
    </nav>


   


    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 ">

                <h1 class="pizza-receta-titulo">Crear cuenta</h1>

                <form action="/registro" method="POST">

                    <div class="col-12 col-md-4">
                        <label for="validationDefault01" class="form-label">Nombre</label>
                        <input class="form-control m-auto" name="nombre" value="{{nombre}}" type="text">
                    </div>

                    <div class="col-12 col-md-4">
                        <label for="staticEmail" class="col-12 col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input class="form-control m-auto" name="email" value="{{email}}" type="text">
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                    <label class="col-12 col-sm-2 col-form-label">Contraseña</label>
                    <div class="col-sm-10">
                        <input class="form-control m-auto" name="password" type="password">
                    </div>
                    </div>

                    <div class="col-12 col-md-3">
                        <label for="validationDefault04" class="form-label">Rol</label>
                        <select class="form-select" id="validationDefault04" required>
                            <option selected disabled value="{{usuario}}">Usuario</option>
                            <option value="{{usuario}}">Administrador</option>
                        </select>
                    </div>


                    <div class="col-12">
                        <button id="enviarPorCorreo" class="btn btn-light btn btn-outline-secondary enviar-por-correo boton">Crear</button>
                    </div>
                    
                </form>

               
                




            </div>

        </div>

    </div>

    <div class="container ">
        <div class="row">
            <div class="col-12 ">

            </div>
        </div>
        <hr class="linea-dos">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 ingredientes-pizza">

                </div>


                <div class="col-12 col-sm-6 ingredientes-pizza ">

                </div>

            </div>
        </div>










        <hr class="linea">







        <div class="container">
            <div class="row">



            </div>
        </div>
        <footer class="bg-light text-center text-lg-start">

            <div class="container p-4 newsletter">

                <div class="row">

                  <div class="col-12">
                        <h5 class="text-uppercase suscribete" id="contacto">Profesores en línea</h5>

                        <p class="obten-recetas">
                            para planificaciones y pruebas</p>

                    </div>



                </div>

            </div>

            <div class="text-center p-3 footer-oscuro">


            </div>

        </footer>




